@import 'main.scss';
/********************************
	HEADER
********************************/
.header {
    position: relative;
    background-color: $green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 66px 20px 20px 20px;
    @media screen and (min-width: #{$tablet-min}) {
        padding: 86px 20px 28px 20px;
    }
    .alertBanner {
        background: $black;
        color: $white;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-weight: $semibold;
        font-size: 14px;
        padding: 14px 0;
        @media screen and (min-width: #{$tablet-min}) {
            padding: 20px 0;
        }
    }
    .header__item {
        transition: width 0.4s;
    }
    //   logo
    .header__logo {
        flex: 1;
        margin-left: 25px;
        @media screen and (min-width: #{$tablet-min}) {
            flex: 0;
        }
        .imgLogo {
            width: 46px;
            @media screen and (min-width: #{$tablet-min}) {
                width: 93px;
            }
        }
    } // close: .header__logo

    // NAV MENU
    .header__nav {
        color: $white;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        background: $white;
        z-index: $z_default;
        @media screen and (min-width: #{$tablet-min}) {
            transform: none;
            color: $white;
            position: relative;
            left: 0;
            top: 0;
            width: auto;
            height: auto;
            background: $green;
            flex: 1;
            display: flex;
            justify-content: center;
        }
        &.show {
            left: 0;
            overflow: hidden;
            width: 317px;
            padding: 15px 11px;
            .closeBtn {
                border: 1px solid $black;
                border-radius: 50%;
                height: 28px;
                width: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                &::before {
                    content: url('/icons/Vector.png');
                }
            }
        }
        .navList {
            list-style: none;
            a {
                text-decoration: none;
                color: $black;
                @media screen and (min-width: #{$tablet-min}) {
                    color: $white;
                }
            }
        }
        .mobile {
            display: block;
            color: $black;
            padding-left: 24px;
            .hasSub {
                position: relative;
                margin-right: 11px;
                &:after {
                    content: url('/icons/angleUp.png');
                    height: 7px;
                    width: 13px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                &.subMenuActive {
                    font-weight: 100;
                    ul {
                        padding-top: 25px;
                        display: block;
                    }
                }

                ul {
                    display: none;
                    padding: 0 0 0 0;
                    list-style: none;
                    li {
                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }

            @media screen and (min-width: #{$tablet-min}) {
                display: none;
            }
            li {
                padding-bottom: 25px;
                font-weight: bold;
            }
        }
        .desktop {
            display: none;
            @media screen and (min-width: #{$tablet-min}) {
                display: flex;
                padding: 0;
                li {
                    padding: 0 30px;
                    margin: 0 30px;
                    font-family: $font-lato;
                }
            }
        }
    } // close: .header__menu

    // ICONS
    .header__icons {
        display: flex;
        align-items: center;
        .header {
            &__search {
                .searchIconHide {
                    display: block;
                    @media screen and (min-width: #{$large-min}) {
                        display: none;
                    }
                }
            }
            &__account {
                margin: 0 17px;
            }
            &__cart {
            }
        }
    } // close: .header__icons
    .searchForm {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
        padding: 5px;
        background-color: $white;
        &.open {
            display: block;
            left: 50%;
            transform: translateX(-50%);
            width: 85%;
            form {
                display: flex;
                input {
                    @include input-placeholder('light-gray');
                    border: solid 2px $black;
                    border-right: none;
                    border-radius: 0;
                    width: 100%;
                    padding: 9px;
                }
                [type='submit'] {
                    color: $white;
                    background: $black;
                    border: 2px solid $black;
                    padding: 0 13px;
                }
            }
            @media screen and (min-width: #{$large-min}) {
                position: relative;
                z-index: 1;
                padding: 0;
                background-color: $white;
                left: 0;
                top: 0;
                transform: none;
                width: 280px;
            }
        }
    }
} // close: header.header

/*** MOBILE MENU ***/
// Styles for when mobile menu is open
body.active--mobileMenu {
    header.header {
        .header__nav {
            transform: translate3d(0, 0, 0);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

// .menu {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 100vh;
//     text-align: left;
//     padding: 2rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//     transition: transform 0.3s ease-in-out;
//     width: 100%;

//     a {
//         // font-size: 2rem;
//         text-transform: uppercase;
//         padding: 2rem 0;
//         font-weight: bold;
//         letter-spacing: 0.5rem;
//         text-decoration: none;
//         transition: color 0.3s linear;
//         font-size: 1.5rem;
//         // text-align: center;
//     }
// }
