/********************************
	COLORS
********************************/
$black: #000000;
$white: #ffffff;
$green: #10504f;
$gray-green: #efefef;

// // sizes
// $xsmall: 0px;
// $small: 600px;
// $medium-min: 601px;
// $medium: 961px;
// $large-min: 962px;
// $large: 1280px;
// $xlarge-min: 1281px;
// $xlarge: 1620px;
// $xxlarge-min: 1621px;
// $xxlarge: 2000px;

/********************************
	BREAKPOINTS
********************************/
$small: 0;
$mobile-min: 769px;
$tablet-min: 1025px;
$large-min: 1280px;

/********************************
	FONTS
********************************/
$font_heading: 'Pacifico', cursive;
$font_body: 'Lato', sans-serif;

$em-base: 16; /* Henseforth known as 1em  |  used for em() mixin */
$base-font-size: #{$em-base}px;

/********************************
	WEIGHTS
********************************/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

/********************************
	Z-INDEX
********************************/
$z_below: -1;
$z_default: 1;

$z_low: 10;
$z_med: 20;
$z_high: 30;
$z_overlay: 100;
$z_max: 1000;

/********************************
    WIDTHS, HEIGHTS, SPACING
********************************/

/*** CONTAINER VARS ***/
// Creates a content container with built-in padding so your content is always off the edge of the window in a centrally controlled location
$site_container: 1345px; // the max width of the content, not including padding
// Global content padding from container
$site_container_padding: 48px; // Desktop
$site_container_padding_mobile: 5%; // Mobile (rec: percentage)
// Define container using calc - allows for easy changes to individual container elements
$container: calc(
    #{$site_container} + (#{$site_container_padding} * 2)
); // Desktop
$container_mobile: calc(
    #{$site_container} + (#{$site_container_padding_mobile} * 2)
); // Mobile

/*** HEADER ***/
$header_height: 190px;
$header_height_mobile: 108px;

$font-lato: 'Lato', sans-serif;
