@import 'main.scss';
.slideWrapper {
    position: relative;
    .slide {
        @include responsive-bg-image(375, 227);
        position: relative;
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
        &.fullBleedSlide {
            background-position: top center;
        }
    }
    .slideContent {
        padding: 22px 0;
        position: relative;
        background-color: $gray-green;
        color: $green;
        @media screen and (min-width: #{$mobile-min}) {
            color: $white;
            position: absolute;
            top: 208px;
            left: 133px;
            background: transparent;
            text-align: left;
        }
        text-align: center;
        .h2 {
            margin: 0 0 10px 0;
            font-weight: 400;
            color: $green;
            @media screen and (min-width: #{$mobile-min}) {
                color: $white;
            }
        }
        &.green {
            color: $green;
            .h2 {
                color: $green;
            }
        }
        .shopBtn {
            padding: 13px 19px;
            margin-bottom: 9px;
            @media screen and (min-width: #{$mobile-min}) {
                padding: 13px 22px;
            }
        }

        &.fullWidth {
            @media screen and (min-width: #{$mobile-min}) {
                color: $white;
                position: absolute;
                top: 20px;
                right: 36px;
                left: auto;
                background: transparent;
                text-align: left;
                .h2 {
                    color: $white;
                }
                .shopBtn {
                    @include btn($greenButton);
                    margin-bottom: 9px;
                    padding: 13px 22px;
                }
            }
        }
    }
}
