@import 'main.scss';
.cardDeck {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;

    align-items: baseline;
    @media screen and (min-width: #{$small-mobile-min}) {
        margin: 50px -10px;
        flex-wrap: nowrap;
    }
}
